<li class="list-group-item">
  <h3><%= post.title %></h3>
  <p><%= post.text %></p>
<div class="post-details">
    <span class="comments-count"><%= post.comments_counter %> Comments</span>
    <span class="likes-count"><%= post.likes_counter %> Likes</span>
  </div>
</li>