body {
  margin: 3rem 2rem;
  padding: 0;
}

.container {
  margin: 0 auto;
}

.user-info-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #000;
}

.user-photo {
  max-width: 402px;
  border-radius: 50%;
  margin-right: 50px;
  height: 155px;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
}

.user-posts-count {
  margin-left: 62%;
}

.bio-section {
  border: 1px solid #ccc;
  padding: 10px;
}

.bio-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.bio-text {
  font-size: 16px;
}

.list-group-item {
  border: none;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.list-group-item p {
  margin: 0;
}

.post-details {
  float: right;
  font-size: 14px;
}

.comments-count,
.likes-count {
  margin-left: 10px; /* Add space between comments and likes counts */
}

.alert {
  color: red;
  margin-bottom: 20px;
  text-align: center;
}


/* "See All Posts" button styles */
.button-container {
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
  color: #fff;
}

ul li {
  text-decoration: none;
}

.comments {
  margin-top: 10px;
}

.comment {
  margin-bottom: 10px;
}

#view-p a {
  color: #007bff;
}

.success-message {
  color: #00a000;
  font-size: 16px;
  margin-top: 10px;
}

.flash {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  color: #00a000;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  border-radius: 5px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

form input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
}

form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
  resize: vertical;
}

form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #0056b3;
}

#user_email {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
}

#user_password_confirmation {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
}

#user_password {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
}

.actions-login {
  color: #00a000;
  align-items: center;
  display: flex;
}

#error-messages {
  color: red;
  margin-bottom: 20px;
}

.container-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.card {
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
